{% load static %}
{% load widget_tweaks %}


<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'data_analysis/index.css' %}">
	<link rel="icon" type="image/png" href="{% static 'data_analysis/favicon.png' %}">
	<title>Анализ данных</title>

</head>
<body>

	<nav class="navbar navbar-light">
		<a class="navbar-brand" href="#">
			<img src="{% static 'data_analysis/Tinkoff.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
			<span class="brand">Tinkoff Cafe</span> <span class="title"> Сервис анализа данных </span>
		</a>
	</nav>


	<div class="main form-group">
	<form method="post" enctype="multipart/form-data" >

		{% csrf_token %}


		<label for="file1name">Загрузите файлы:</label>
		<div class="form-row">
			<div class="col">
				<div class="custom-file browse-file-container">
					{{ form.file|add_class:"custom-file-input form-control" |attr:"lang:ru"}}
					<label class="custom-file-label" for="{{ form.file.id_for_label }}" id="file1name"><i>Тестовая выборка</i></label>
					{{ form.file.errors }}
				</div>
			</div>
			<!--Mockup:-->
			<div class="col">
				<div class="custom-file browse-file-container">
					<input type="file" name="file" lang="ru" class="custom-file-input form-control" id="mockup-menu-file">
					<label class="custom-file-label" for="mockup-menu-file" id="file2name"><i>Меню</i></label>
				</div>
			</div>
		</div>

		{{ form.description.errors }}
		<label for="{{ form.description.id_for_label }}">Введите описание:</label>
		{{ form.description|attr:"class:form-control" }}


		<label for="mockup-input-metrics">Выберите метрику:</label>
		<select id="mockup-input-metrics" class="form-control">
			<option selected>Mean F1-Score</option>
			<option>Метрика 2</option>
			<option>Метрика 3</option>
		</select>


		<div class="additional-preferences">
			<label>Дополнительно показать:</label>
			<div class="form-row">
				<div class="col">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck1">
						<label class="custom-control-label" for="customCheck1">Самые популярные блюда</label>
					</div>
				</div>
				<div class="col">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2">
						<label class="custom-control-label" for="customCheck2">Самый популярный чек</label>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck3">
						<label class="custom-control-label" for="customCheck3">Общее количество чеков в день</label>
					</div>
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-secondary" id="id_button">Загрузить</button>

	</form>
	</div>


</body>
	<script src="{% static 'data_analysis/index.js' %}"></script>
</html>
